<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
  <header>
    <h1>Volunteer Organizer</h1>
  </header>

  <div>
      <a th:href="/signup/volunteer">
          <button>Sign Up as Volunteer</button>
      </a>

      <a th:href="/signup/organization">
          <button>Sign Up as Organization</button>
      </a>
  </div>

    <div>
        <h2>Already Have An Account?</h2>
        <button onclick="location.href='/login'">
            Login
        </button>
    </div>

</body>
</html>