<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table >
    <tr th:each="opportunity : ${opportunities}">
        <td>
            <p th:text ="${'Opportunity Name: ' + opportunity.name}"></p>
            <p th:text ="${'Opportunity Description: ' + opportunity.description}" ></p>
            <p th:text ="${'City: ' + opportunity.city}" > </p>
            <p th:text ="${'Start Date: ' + opportunity.startDate}" ></p>
            <p th:text ="${'End Date: ' + opportunity.endDate}" ></p>
            <p th:text ="${'Hours/Day: ' + opportunity.hours}" ></p>
            <p th:text ="${'Age Group: ' + opportunity.age}" ></p>
        </td>
    </tr>
</table>


</body>
</html>