<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>
<th:block th:if = "${opportunities == null}">
    <h4 th:text ="${'You are not registered for any volunteer opportunities!'}"></h4>
</th:block>
<th:block th:unless = "${opportunities == null}">
    <h4 th:text ="${'Number of opportunities currently registered for: ' + opportunities.size()}"></h4>
</th:block>
<div th:replace="fragments :: opportunity-list"></div>

</body>
</html>