<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div class="card">
<header>
    <h1>Volunteer Organizer</h1>

</header>

<form method="post">
    <!-- <h2>New User?</h2> -->
    <h2 th:text ="${title}"></h2>

    <div class="form-group">
        <label th:for="username">
            <input class="form-control" th:field="${createAccountDTO.username}" placeholder="Username" required>
        </label>
        <p class="error" th:errors="${createAccountDTO.username}"></p>
    </div>

    <div class="form-group">
        <label th:for="password">
            <input class="form-control" th:field="${createAccountDTO.password}" type="password" placeholder="Password" required>
        </label>
        <p class="error" th:errors="${createAccountDTO.password}"></p>
    </div>

    <div class="form-group">
        <label th:for="verifyPassword">
            <input class="form-control" th:field="${createAccountDTO.verifyPassword}" type="password" placeholder="Verify Password" required>
        </label>
        <p class="error" th:errors="${createAccountDTO.verifyPassword}"></p>
    </div>

    <div class="form-group" th:if="${createAccountDTO.accountType == 'organization'}">
        <label th:for="organizationName">
            <input class="form-control" th:field="${createAccountDTO.organizationName}"  placeholder="Organization Name" required>
        </label>
        <p class="error" th:errors="${createAccountDTO.organizationName}"></p>
    </div>

    <input type="submit" value="Sign Up" />
</form>

<div>
    <h2>Already Have An Account?</h2>
    <button onclick="location.href='/login'">
        Login
    </button>
</div>
</div>
</body>
</html>